@font-face {
	font-family: Header_font;
	src: url(../font/header_font.ttf);
}
body {
	background: #fff;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/*preloader*/
.preloader {
	position: fixed;
	z-index: 99999;
	background:#fff;
	width: 100%;
	height: 100vh;
	transition: 0.5s 1.6s;
}
.preloader.done {
	opacity: 0;
	z-index: -99999;
}
.preloader h3 {
	position: absolute;
	width: 150px;
	height: 150px;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.preloader h3 img {
	position: absolute;
	align-items: center;
	justify-content: center;
	animation:animate_img_pre 9s ease-in-out infinite;
	font-family: CENTURY GOTHIC,sans-serif;
	max-width: 150px;
	max-height: 150px;
}
@keyframes animate_img_pre {
	100% {
		transform: rotate(360deg);
	}
}
.sloi_pre {
	position: absolute;
	background-color: #f7f7f2;
	z-index: 100000;
	clip-path: polygon(50% 0%, 100% 0, 100% 0, 0 0, 0 0, 0 0);
	width: 100%;
	height: 100%;
}
.preloader.done .sloi_pre {
	display: block;
	animation: animate_preloader 0.7s linear forwards;
}
.preloader.done .sloi_pre2 {
	display: block;
	animation: animate_preloader 0.7s linear forwards 0.3s;
}
.sloi_pre2 {
	position: absolute;
	background-color: #e9e9e9;
	z-index: 100001;
	clip-path: polygon(50% 0%, 100% 0, 100% 0, 0 0, 0 0, 0 0);
	width: 100%;
	height: 100%;
}

@keyframes animate_preloader {
	10% {
		clip-path: polygon(50% 0%, 100% 0, 100% 0, 0 15%, 0 15%, 0 0);
	}
	30% {
		clip-path: polygon(50% 0%, 100% 0, 100% 0, 0 42%, 0 42%, 0 0);
	}
	50% {
		clip-path: polygon(50% 0%, 100% 0, 100% 0, 0 100%, 0 100%, 0 0);
	}
	100%{
		clip-path: polygon(50% 0%, 100% 0, 100% 0, 100% 100%, 0 100%, 0 0);
	}
}
/*header*/
header {
	position: relative;
	width: 100%;
	height: 75px;
	font-family: CENTURY GOTHIC,sans-serif;
	background-color: transparent;
	font-weight: 600;
	color: #f7f7f2;
	transition: 0.5s;
	z-index: 99999;
}
header.scrol {
	position: fixed;
	height: 55px;
	background: #00bfffd9;
}
.head_span {
	position: absolute;
	display: block;
	background: #f7f7f2;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	transform: scaleX(0);
	transform-origin: center;
	transition: 0.5s;
}
header.scrol .head_span {
	transform: scaleX(1);
	transform-origin: center;
	transition: 0.75s ease-in-out;
}
header .head {
	position: relative;
	width: 94%;
	height: 54px;
	margin-left: 3%;
	margin-right: 3%;
	display: flex;
	justify-content: space-between;
}

header .head .logo {
	font-weight: 300;
	font-size: calc(20px + 15 * (100vw/1440));
	color: #333;
	cursor: pointer;
}
header .head .logo img {
	margin-top: 15px;
	max-width: 50px;
	max-height: 50px;
	animation:animate_img_pre 9s ease-in-out infinite;
	transition: 0.5s;
}
header.scrol .head .logo img {
	margin-top: 1px;
}
/*LINK*/
header .head ul {
	position: relative;
	display: flex;
}

header .head ul li {
	position: relative;
	list-style: none;
	margin-top: 24px;
	transition: 0.5s;
}
header.scrol .head ul li {
	margin-top: 12.5px;
}
header .head ul li a{
	position: relative;
	letter-spacing: 1.2px;
	margin-left: 15px;
	font-size: calc(12px + 10 * (100vw/1440));
	cursor: pointer;
	text-decoration: none;
	color: #fff;
	transition: 0.5s;
	z-index: 1;
}

header .head ul li a span {
	position: absolute;
	display: block;
	background: #f7f7f2;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	transform: scaleX(0);
	transform-origin: center;
	transition: 0.75s;
}
header .head ul li a:hover span {
	transform: scaleX(1);
	transform-origin: center;
	transition: 0.75s ease-in-out;
}
/*BUTTON JOIN*/
.button_join {
	position: relative;
	margin-top: 17px;
	text-decoration: none;
	width: 210px;
	height: 33px;
	text-align: center;
	margin-left: 15px;
}
.button_join span {
	position: absolute;
	top: 0;
	left: 0;
	width: 210px;
	font-family: SEGOE UI,sans-serif;
	height: 35px;
	font-size: 25px;
	color: #111;
	background: #fff;
	margin-top: 4px;
	transition: 0.5s ease-in-out;
	font-family: CENTURY GOTHIC,sans-serif;
	font-weight: 600;
}
header.scrol .button_join span {
	margin-top: -7.5px;
}
.button_join span:nth-child(2) {
	color: #fff;
	background: #00bfff;
	z-index: 2;
	transition: 0.7s ease; 
	clip-path: circle(0% at 50% 50%);
	font-family: CENTURY GOTHIC,sans-serif;
	font-weight: 600;
}
.button_join:hover span:nth-child(2) {
	clip-path: circle(70.7% at 50% 50%);
}
/*SECTION*/

section {
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	background: url(../img/first_image.jpg);
	width: 100%;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
section::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	display: flex;
	background: #00bfffd9;
	width: 100%;
	height: 100vh;
}
.head_content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 70vh;
	display: flex;
	z-index: -1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 0;
}
.head_text {
	font-family: CENTURY GOTHIC,sans-serif;
	font-weight: 700;
	color: #fff;
	font-size: 3em;
	margin-top: 20vh;
	letter-spacing: 1.1px;
	text-align: center;
}
.head_text p {
	position: relative;
	color: #e9e9e9;
	font-weight: 500;
	font-size: calc(15px + 10 * (100vw/1440));
	padding-top: 3vh;
}


/*WAVE*/
.wave {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 14vh;
	background: url(../img/wave.png);
	background-size: 1000px 15vh;
}
.wave_1 {
	animation: animate_wave 13s linear infinite;
	z-index: 4;
	opacity: 1;
	animation-delay: 0s;
	bottom: 0;
}
.wave_2 {
	animation: animate_wave2 9s ease-in-out infinite;
	z-index: 3;
	opacity: 0.7;
	animation-delay: -5s;
	bottom: 16px;
}
@keyframes animate_wave {
	0% {
		background-position-x:0;
	}
	100% {
		background-position-x:1000px;
	}
}
@keyframes animate_wave2 {
	0% {
		background-position-x:0;
	}
	100% {
		background-position-x:-1000px;
	}
}
/*ABOUT_US*/
.about_us {
	position: relative;
	height: 68vh;
	width: 100%;
	background: #f7f7f2;
	margin-top: 25vh;
	clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
}
.about_us .content h2 {
	font-family: CENTURY GOTHIC,sans-serif;
	position: absolute;
	color: #cacaca99;
	font-size: 5em;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 2%;
}
.about_us .content p {
	position: absolute;
	color: #777;
	top: 60%;
	transform: translateY(-60%);
	z-index: 9999;
	font-size: calc(10px + 13 *(100vw/1440));
	font-family: CENTURY GOTHIC,sans-serif;
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
}
.about_us .content span {
	width: 100%;
	height: 68vh;
}
.about_us .content span span{
	position: absolute;
	font-size: 8em;
	color: #cacaca99;
	width: auto;
	height: auto;
	margin-left: 5px;
	margin-top: 5px;
}
.about_us .content span span:nth-child(2) {
	position: absolute;
	right: 3%;
	bottom: -14%;
}


/*contact*/
.contact {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 9999;
	opacity: 0;
	transition: 0.5s ease-in-out;
}
.contact.scrol {
	opacity: 1;
}
.contact .messege {
	position: absolute;
	width: 41px;
	height: 41px;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
	right: 22px;
	bottom: -11px;
	border: 1.6px solid #00bfff;
	color: #00bfff;
}
.contact .messege span {
	position: absolute;
	font-weight: 700;
	font-size: 41px;
	margin-top: -5px;
	margin-left: 8px;
	transition: 1s ease;
}
.contact .messege.active span {
	transform: rotate(405deg);
}
.contact .menu {
	position: absolute;
	bottom: 45px;
	right: -10px;
	background: #00bfff;
	width: 0;
	height: 0;
	border-radius: 15px;
	transition: 0.5s ease-in-out;
}
.contact .menu::before {
	content: '';
	position: absolute;
	right: 40px;
	bottom: -8px;
	width: 20px;
	height: 20px;
	opacity: 0;
	transform: rotate(45deg);
	background: #00bfff;
	transition: 0.5s ease-in-out;
}
.contact .menu ul {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-top: 15px;
}
.contact .menu ul li {
	position: relative;
	list-style: none;
	margin-bottom: 10px;
	transition: 0.5s ease-in-out;
	display: none;
}
.contact .menu ul li:nth-child(1) {
	margin-top: -11px;
}
.contact .menu ul li a {
	position: relative;
	color: #e9e9e9;
	text-decoration: none;
	font-size: 18px;
	font-family: CENTURY GOTHIC,sans-serif;
	padding-left: 5px;
}
/*AFTER CLICK*/
.contact .menu.active {
	height: 240px;
	width: 230px;
	padding: 10px 20px;
}
.contact .menu.active::before {
	opacity: 1;
}
.contact .menu.active ul li{
	display: block;
	transition-delay: 0.3s;
}


/*GALERY*/

.galery {
	position: relative;
	width: 100%;
}
.galery .content {
	position: relative;
	width: 100%;
	height: 200px;
	text-align: center;
}
.galery .content h2 {
	position: relative;
	letter-spacing: 0.7px;
	padding-top: 5vh;
	font-family: CENTURY GOTHIC,sans-serif;
	font-size: 5em;
	color: #cacacad9;
}
.galery .content p {
	position: relative;
	display: block;
	font-family: CENTURY GOTHIC,sans-serif;
	font-size: 1.4em;
	color: #9e9e9e;
	margin-bottom: 35px;
}

.galery .imgBx {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 40px;
	margin-bottom: 10vh;
}
.galery .imgBx img {
	object-fit: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 250px;
	height: 250px;
	margin: 10px;
	opacity: 0.9;
	transition: 0.1s ease-in-out;
	cursor: pointer;
	border-radius: 15px;
	left: 50%;
}
.galery .imgBx img:hover {
	opacity: 1;
}
.galery .imgBx img.im1,.galery .imgBx img.im2,.galery .imgBx img.im3,.galery .imgBx img.im4 {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	z-index: 99999999;
	width: 500px;
	height: 500px;
	opacity: 1;
	border-radius: 15px;
}
#sloi_galery {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -999999;
	background: #0009;
	opacity: 0;
	transition: 0.5s ease-in-out;
}
#sloi_galery.active {
	opacity: 1;
	z-index: 999999;
}
/*close img*/
#close_img {
	position: fixed;
	right: 5px;
	top: 5px;
	width: 45px;
	height: 45px;
	z-index: -100000;
	color: #fff;
	opacity: 0;
	transition: 0.5s ease-in-out;
	font-size: 45px;
	transform: rotate(45deg);
	cursor: pointer;
}
#close_img.active {
	opacity: 1;
	z-index: 1000000;
}
/*BR*/
.br {
	display: block;
	position: relative;
	width: 150px;
	height: 5px;
	border-radius: 20px;
	background: #00bfff;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 5vh;
	margin-top: 5vh;
}


/*SCROLLBAR*/
::-webkit-scrollbar
{
	width:0.5em; 
}
::-webkit-scrollbar-track {
  background: #e9e9e9;
}
::-webkit-scrollbar-thumb {
  background-color: #00bfff99;
  transition: 0.5s;
}
::-webkit-scrollbar-thumb:active {
  background-color: #00bfff;
}

/*MEDIA EFFECT*/
@media (max-width: 800px) {
	.about_us {
		height: 80vh;
	}
}

@media (max-width: 680px) {
	.about_us .content h2 {
		font-size: 3em;
	}
	.galery .content h2 {
		font-size: 3em;
	}
	.galery .content p {
		font-size: 1.24em;
	}
	.galery .imgBx img {
		position: relative;
		width: 400px;
		height: 350px;
		align-items: center;
		left: 50%;
		transform: translateX(-50%);
	}
}
@media (max-width: 620px) {
	.galery .imgBx img.im1,.galery .imgBx img.im2,.galery .imgBx img.im3,.galery .imgBx img.im4 {
		width: 400px;
		height: 350px;
	}
}
@media (max-width: 600px) {
	.head_text {
		font-size: 2em;
	}
}
@media (max-width: 450px) {
	.galery .imgBx img.im1,.galery .imgBx img.im2,.galery .imgBx img.im3,.galery .imgBx img.im4 {
		width: 300px;
		height: 250px;
	}

	.galery .imgBx img {
		position: relative;
		width: 300px;
		height: 250px;
		align-items: center;
		left: 50%;
		transform: translateX(-50%);
	}
	.wave_2 {
		bottom: 10px;
	}
	section {
		height: 95vh;
	}

	section::before {
		height: 95vh;
	}

}
@media (max-width: 420px) {
	.about_us .content h2{
		font-size: 2em;
		margin-top: 7%;
		
	}
	.galery .content h2  {
		font-size: 2em;
	}
	.galery .content p {
		font-size: 1.1em;
	}
}